{% extends 'base.html.twig' %}
{% set viennoiserie_show = path('viennoiserie_show', {'Slug' : viennoiserie.Slug}) %}

{% block title %}FB - Viennoiserie {% endblock %}


{% block body %}
    <div class="item">


        <div class="element">
            <img class="image" width= 85% height=100% src="/upload/images/Viennoiserie/{{ viennoiserie.image }}">
        </div>
        <div class="produit-description">
            <h2>{{ viennoiserie.name }}</h2>
            <div> {{ viennoiserie.allergene|raw }}</div>
            <div>  {{ (viennoiserie.prix/100)|number_format(2 , '.', ',')  }}€</div>

        </div>
    </div>

{% endblock %}