{% set viennoiserie_liste = path('viennoiserie_liste', {'Slug' : viennoiserie}) %}


{% block body %}
    <div class="container">

        <a href="{{ path ('viennoiserie_show', {'Slug':viennoiserie.Slug} )}}">
            <img class="image" width= 100% height=100% src="upload/images/Viennoiserie/{{ viennoiserie.image }}">
        </a>

        <h2 class="nom">{{ viennoiserie.name }}</h2>

    </div>



{% endblock %}
