{% block body %}
    <div class="titre">
        <h1><a href="{{ path ('app_index')}}"> La Miette de Pain</a></h1>
    </div>
    <nav>
        <ul>
            <li class="menu-deroulant">
                <a href="#">Nos produits</a>
                <ul class="sous-menu">
                    <li><a href="{{ path ('patisserie_show')}}">Pâtisseries</a></li>
                    <li><a href="{{ path ('viennoiserie_show')}}">Viennoiseries</a></li>
                    <li><a href="{{ path ('boulangeries_show')}}">Boulangerie</a></li>
                </ul>
            </li>
            <li class="menu-deroulant">
                <a href="#">Évènement</a>
                <ul class="sous-menu">
                    <li><a href="#">Fêtes</a></li>
                    <li><a href="#">Mariages/Baptêmes</a></li>
                    <li><a href="#">Anniversaires</a></li>
                </ul>
            </li>
            <li><a href="/test2/caroussel-controles/index.html">À propos</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>
    </nav>

    {% for viennoiserie in viennoiseries %}
        {% include 'viennoiserie/item.html.twig' with { viennoiserie } %}
    {% endfor %}

{% endblock %}

