{% extends 'base.html.twig' %}
{% block title %}FB - Viennoiserie {% endblock %}
{% block body %}

<div class="produit">

    {% for viennoiserie in viennoiseries %}

        {% include 'viennoiserie/item.html.twig' with { viennoiserie } %}
    {% endfor %}
</div>
{% endblock %}

