.evenement{
    background-color: #00000012!important;
    color:white;
}

figure{
    margin:0rem;
}

.carousel-item{
    width:auto;
}

h3{
   color:black;
    font-size:350%;
    padding-top:2%;
}
.texte2{
    color:black;
}