.produit{
    background-color: #F1F1F1;
    padding: 5% 5% 15%;
    max-width: 100%;
}

.element{
    padding-left: 20%;
}

.allergene{
    font-size: 50%;
}

.image:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
    opacity:0.9;
}

.nom {
    text-align: center;
    padding-top: 5%;
    font-size: 110%;
}

.produit-description{
    text-align: center;
}

.item {
    background-color:#00000012;
    padding-top: 5%;
    padding-bottom: 5%;
}

.prix{
    font-size: 150%
}
label{
    padding-right:5%;
}

@media screen and (min-width: 950px) {

    .produit{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap:20%;
        grid-column-gap:5%;
    }
 
    .item {
        display: grid;
        grid-template-columns: 55% auto;
        justify-items: start;
    }
}

