{% extends 'base.html.twig' %}

{% block title %}La Miette de Pain{% endblock %}

{% block body %}

    <main>
<div class="container pt-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./slider/slider.png" class="d-block w-true100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./slider/mdp.png" class="d-block w-true100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./slider/vitrine.png" class="d-block w-true100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section class="description">
            <p class="texte text">Bienvenue sur le site La Miette de Pain, ici ous aurez accès à tous nos pâtisseries, viennoisseries, traiteur, ainsi que plusieurs gâteaux personnalisés pour vos fêtes, mariages, anniversaires...<br>
            </p>
            <figure class="deco">
                <img src="./slider/lmdp.png" alt="Lamiettedepain"class="image1">
            </figure>
            <figure class="gateau">
                <img src="./slider/slider.png" alt="Lamiettedepain"class="image1">
            </figure>
            <p class="texte text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Ipsum amet a adipisci perferendis, similique officiis magni doloremque nam, <br>
                ad laborum exercitationem consectetur corrupti, esse quibusdam. Porro minus mollitia numquam in?
            </p>
        </section>

        <div class="selection">

            <figure>
                <img id="place"  src="./slider/mdp.png" alt="Lamiettedepain"class="images">
                <figcaption class="text">La miette de Pain</figcaption>
            </figure>

            <figure>
                <a href="{{ path ('patisserie_liste')}}"><img id="place" src="./slider/vitrine.png" alt="Nosproduits"class="images"></a>
                <figcaption class="text">Nos produits</figcaption>
            </figure>

            <figure>
                <img id="place"  src="./slider/gateau.png" alt="Evenement"class="images">
                <figcaption class="text">Évènement</figcaption>
            </figure>

            <figure>
                <img id="place" src="./slider/slider.png" alt="Cadeau"class="images">
                <figcaption class="text">Nous rejoindres</figcaption>
            </figure>

        </div>
</div>
    </main>


{% endblock %}
