{% extends 'base.html.twig' %}

{% block title %}La Miette de Pain{% endblock %}

{% block body %}

    <main>
      
      <section id="slider">
      
          <img width=100px height=1000% src="./slider/slider.png" alt="La forêt de peupliers" id="slide">
          <div id="precedent" onclick="ChangeSlide(-1)"><</div>
          <div id="suivant" onclick="ChangeSlide(1)">></div>
     
         </section>

      <section class="description">
        <p class="texte">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, 
          fugiat consequatur? <br> Nesciunt nisi odit neque illo magnam facilis odio libero eos sequi,
           quo animi,<br> tenetur, asperiores similique perspiciatis expedita dolore!
          </p>
        <figure class="deco">
          <img src="./slider/slider.png" alt="Lamiettedepain"class="image1">
        </figure>
        <figure class="gateau">
        <img src="./slider/vitrine.png" alt="Lamiettedepain"class="image1">
    </figure>
    <p class="texte">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
      Ipsum amet a adipisci perferendis, similique officiis magni doloremque nam, <br>
      ad laborum exercitationem consectetur corrupti, esse quibusdam. Porro minus mollitia numquam in?
    </p>
      </section>

      <div class="selection">
       
      <figure >
        <img src="./slider/mdp.png" alt="Lamiettedepain"class="images">
        <figcaption>La miette de Pain</figcaption>
    </figure>

    <figure id="Nossproduits" >
        <a href="{{ path ('patisserie_liste')}}"><img src="./slider/vitrine.png" alt="Nosproduits"class="images"></a>
        <figcaption>Nos produits</figcaption>
    </figure>

    <figure id="Evenement" >
        <img src="./slider/gateau.png" alt="Evenement"class="images">
        <figcaption>Évènement</figcaption>
    </figure >

    <figure id="Nousrejoindre" >
        <img src="./slider/slider.png" alt="Cadeau"class="images">
        <figcaption>Nous rejoindres</figcaption>
    </figure>
  
    </div>
    </main>

    <footer>
      <div class="grid-container">
      
        <div class="grid-item">
        <p class="texte3"> 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
         Autem laborum hic quisquam fuga, ipsa quia quasi suscipit <br>
         incidunt laboriosam veniam modi et? Similique optio<br>
          reprehenderit, quae beatae excepturi nesciunt. Repudiandae.
        </p></div>
    
      <div class="grid-item3">
        <h7>Catégories</h7><br><br>
          <a href="{{ path ('patisserie_liste')}}" >Pâtisserie</a><br>
        Boulangerie<br>
       Évènement</a>
      </div>  
      <div class="grid-item4">
        <h7>En savoir plus</h7> <br><br>
        <p>Qui somme nous?<br>
         Nous contacter<br>
         Notre histoire<br>
         Plus d'info</p>
      </div>
    </footer>
    <script src="/asset/js.js" defer></script>
{% endblock %}
