{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<div class="container propos">
<p>Nous vous présentons ‘’La miette de pain ‘’, notre boulangerie pâtisserie artisanale située 101 grand
rue 72460 Savigné l’évêque depuis le 1er décembre 2006
Nous vous proposons notre gamme de pain fabriquée avec une farine ‘TERROIR’, elle est élaborée
en majorité de blé issu de nos agriculteur sarthois
Notre gamme de pâtisserie (individuelle ou à partager) ainsi que toutes nos viennoiseries sont
fabriquées exclusivement ‘’ PUR BEURRE’’
Pour la pause déjeuner nous vous proposons notre gamme de snacking.
Pour vos baptèmes,anniversaire ou autre fête entre famille ou amis nous avons un large choix de
pièce montée, weeding cake ,number cake ou autre entremet

Nous avons aussi il y a quelques année, mis à disposition de nos clients deux distributeurs à
baguettes situées dans les communes de Joué l ‘abbé et Courcebœufs, communes limitrophes de
Savigné l’évêque
Elles vous proposent des baguettes blanches (moulées ou ordinaires) ainsi que des baguettes
traditions, nous la remplissons tous les jours sauf le lundi étant notre jour de fermeture</p>
</div>
{% endblock %}
