{% set evenement_liste = path('evenement_liste', {'id' : mariages[0]}) %}
{% extends 'base.html.twig' %}
{% block title %}Mariages/Baptêmes!{% endblock %}

{% block body %}
    <div class="evenement">
        <h3>Baptêmes/Mariages</h3>
        <section >
                  
                           <div class="container pt-5">
            <div id="slider">
             
               <img class="imgslide" src="/upload/images/Slider/mariage/{{ mariages.image }}" id="slide1">
               <div id="precedent" onclick="ChangeSlide1(-1)"><</div>
               <div id="suivant" onclick="ChangeSlide1(1)">></div>
             
            </div>

            <p class="texte2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero,
                fugiat consequatur? <br> Nesciunt nisi odit neque illo magnam facilis odio libero eos sequi,
                quo animi,<br> tenetur, asperiores similique perspiciatis expedita dolore!
            </p>

        </section>

    </div>
{% endblock %}
