{% extends 'base.html.twig' %}
{% set patisserie_show = path('patisserie_show', {'Slug' : patisserie.Slug}) %}

{% block title %}FB - Pâtisserie {% endblock %}


{% block body %}
    <div class="item">

       <div class="element">
            <img class="image" width=85% height=100% src="/upload/images/Patisserie/{{ patisserie.image }}">
       </div>

       <div class="produit-description">
            <h2>{{ patisserie.name }}</h2>
               <div class="prix">  {{ (patisserie.prix/100)|number_format(2 , '.', ',')  }}€</div>
               <div class="allergene"> {{ patisserie.allergene|raw }}</div>    
       </div>
 
    </div>
{% endblock %}
