{% set patisserie_show = path('patisserie_show', {'patisserie_show' : patisserie}) %}


{% block body %}
    <div>
        <div>

            <img width= 300px height=250px src="upload/images/Patisserie/{{ patisserie.image }}">

            <h2>{{ patisserie.name }}</h2>

            <p>
                {{ (patisserie.prix/100)|number_format(2) }}  €
            </p>
        </div>
    </div>
{% endblock %}
