{% extends 'base.html.twig' %}

{% block title %}FB - Pâtisserie {% endblock %}
{% block body %}

    <div class="produit">
    {% for patisserie in patisseries %}


        {% include 'patisserie/item.html.twig' with { patisserie } %}



    {% endfor %}
    </div>

{% endblock %}

