{% extends 'base.html.twig' %}
{% set boulangerie_show = path('boulangerie_show', {'Slug' : boulangerie.Slug}) %}

{% block title %}FB - Pâtisserie {% endblock %}


{% block body %}
    <div class="item">

        <div >
            <img width= 85% height=100% src="/upload/images/Patisserie/{{ boulangerie.image }}">

        </div>
        <div class="titre">
            <h2>{{ boulangerie.name }}</h2>
            <p class="allergene"> {{ boulangerie.allergene }}</p>
        </div>
    </div>
    </div>
{% endblock %}