{% extends 'base.html.twig' %}
{% set traiteur_show = path('traiteur_show', {'Slug' : traiteur.Slug}) %}

{% block title %}FB - Pâtisserie {% endblock %}


{% block body %}
    <div class="item">


        <div>
            <img width= 600px height=500px src="/upload/images/traiteur/{{ traiteur.image }}">
        </div>
        <div class="titre">
            <h2>{{ traiteur.name }}</h2>
            <p class="allergene"> {{ traiteur.allergene }}</p>
        </div>
    </div>
    </div>
{% endblock %}
