{% extends 'base.html.twig' %}
{% set traiteur_show = path('traiteur_show', {'Slug' : traiteur.Slug}) %}

{% block title %}FB - Pâtisserie {% endblock %}


{% block body %}
    <div class="item">


        <div class="produit">
            <img class="image" width= 85% height=100% src="/upload/images/traiteur/{{ traiteur.image }}">
        </div>
        <div class="produit-description">
            <h2>{{ traiteur.name }}</h2>
            <p class="allergene"> {{ traiteur.allergene }}</p>
        </div>
    </div>
    </div>
{% endblock %}
