{% set traiteur_liste = path('traiteur_liste', {'Slug' : traiteur}) %}


{% block body %}
    <div class="container">

            <a href="{{ path ('traiteur_show', {'Slug':traiteur.Slug} )}}">
                <img class="image" width=100% height=100% src="upload/images/traiteur/{{ traiteur.image }}">
            </a>
            <h2 class="nom">{{ traiteur.name }}</h2>


    </div>
{% endblock %}